html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  padding: 5%;
}

.form {
  border: 1px solid #c0c0c0;
  padding: 30px;
  max-width: 300px;
}

  .form label {
    display: inline-block;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .form input {
    width: 100%;
    margin-bottom: 15px;
  }
